[webservers]
%{~ for web in webservers}
 ${web["name"]}   ansible_host=${web["network_interface"][0]["nat_ip_address"]} fqdn=${web["fqdn"]}
%{~ endfor}

[dbservers]
%{~ for db in dbservers}
 ${db["name"]}   ansible_host=${db["network_interface"][0]["nat_ip_address"]}  fqdn=${db["fqdn"]} 
%{~ endfor}

[storages]
%{~ for st in storages}
 ${st["name"]}   ansible_host=${st["network_interface"][0]["nat_ip_address"]}  fqdn=${st["fqdn"]} 
%{~ endfor}